body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#logo {
  max-height: 200px;
  max-width: 200px;
  align: left;
}

#title {
  color: green;
  font-size: 32px;
}

#content {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 0px;
}

.page-title {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  display: flex;
}

.listing {
  margin-left: 12.5em;
  margin-right: 12.5em;
  width: 50%;
  padding: 0px;
  display: flex;
}

.detail-head {
  margin-left: 16.5em;
  margin-right: 16.5em;
  width: 50%;
  padding: 0px;
  display: flex;
}

#map {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 25px;
  display: flex;
}

#calendar {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 25px;
  display: flex;
}

section {
  margin: 4rem auto;
  display: block;
}

nav {
  background: white;
}

nav ul {
  display:flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  height: 100%;
}

nav li {
  width: 100%;
  height: 33.333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

a {
  color: #335E75;
  font-weight: bold;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

nav a:focus {
  background: #FFFFFF;
  color: #0052BD;
}

.active {
  color: #0052BD;
  background: #0D3E5E;
}

.projects ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.projects li {
  margin: 1rem 0px;
  display: block;
}

p {
  font-size: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20em;
  margin-inline-end: 20em;
  display: flex;
}

footer {
  background: #0052BD;
  color: #ffffff;
  text-align:center;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

  nav li {
    height: 100%;
    width: 33.333333%;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    border-top: unset;
    border-bottom: unset;
  }
